<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vivwe.main">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.autofocus"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.vivwe.base.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".activity.WellcomeActivity" android:theme="@style/WellcomeTheme" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity" android:theme="@style/AppTheme" />
        <activity android:name=".activity.RegisterActivity" android:theme="@style/AppTheme" />
        <activity android:name=".activity.MainActivity" android:theme="@style/AppTheme" />
        <activity android:name="com.vivwe.personal.activity.AuthorApplyActivity" android:theme="@style/AppTheme" />
        <activity android:name="com.vivwe.personal.activity.AuthorCenterActivity" android:theme="@style/AppTheme" />
        <activity android:name="com.vivwe.personal.activity.AuthorIncomeActivity" android:theme="@style/AppTheme" />
        <activity android:name="com.vivwe.personal.activity.AuthorTransactionRecordActivity" android:theme="@style/AppTheme" />
        <activity android:name="com.vivwe.personal.activity.MyAttentionActivity" android:theme="@style/AppTheme" />
        <activity android:name="com.vivwe.personal.activity.MyCollectedActivity" android:theme="@style/AppTheme" />
        <activity android:name="com.vivwe.personal.activity.MyDraftActivity" android:theme="@style/AppTheme" />
        <activity android:name="com.vivwe.personal.activity.MyPurchasedActivity" android:theme="@style/AppTheme" />
        <activity android:name="com.vivwe.personal.activity.MyFansActivity" android:theme="@style/AppTheme" />
        <activity android:name="com.vivwe.personal.activity.UpdateCityActivity" android:theme="@style/AppTheme" />
        <activity android:name="com.vivwe.personal.activity.UpdateNicknameActivity" android:theme="@style/AppTheme" />
        <activity android:name="com.vivwe.personal.activity.UpdateRemarkActivity" android:theme="@style/AppTheme" />
        <activity android:name="com.vivwe.personal.activity.UpdateUserInfoActivity" android:theme="@style/AppTheme" />


    </application>
</manifest>
